extends layout

block content

    div
        a(id="back", href="/") Go back

    div
        h2 MTLCB0 RV Partition Indicators
        h3 Last Updated at : #{lastupdate}
        h3 Data extracted from : #{datapath}

    div
        input(type='text', id="rawsearch" ,placeholder= "Type to search...")
        button.btn.btn-primary(id="clear_raw_filter", type='button') Clear Filter 

    div

        table.table.table-striped(id="tablerv")
            thead
                tr
                    th.indicators(style="width:135px") Partition
                    - var table1count
                    - table1count = 0
                    - console.log(Tools)
                    for tool in Tools
                        - table1count = table1count + 1
                        - console.log(tool)
                        if tool.indexOf("Ungated") != -1
                            - var tool_disp = tool.slice(14)
                            th.indicators UDVD >= #{tool_disp}
                        else if tool.indexOf("Gated") != -1
                            - var tool_disp = tool.slice(13)
                            th.indicators GDVD >= #{tool_disp}
                        else if tool == 'missing AON VL'
                            pass
                        else if tool == 'missing AON v4'
                            pass
  
                        else if tool == 'HIP No Power'
                            pass

                        else if tool == 'HIP <50% vias'
                            pass 

                        else if tool == 'unbounded AON'
                            pass

                        else if tool == 'glbdrv v6 missing'
                            pass
                        else if tool == 'glbdrv v5 missing'
                            pass
                        else if tool == 'complete_date'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:125px') #{tool}
                        else if tool == 'dfmtail_active'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:120px') #{tool}
                        else if tool == 'dfmtail_float'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:110px') #{tool}
                        else if tool == 'dfmtail_longactive'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:150px') #{tool}
                        else if tool == 'misscontainer'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:120px') #{tool}
                        else if tool == 'drc_PWR_HU'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:110px') #{tool}
                        else if tool == 'pg_opens'
                            th.indicators(data-toogle='tooltip', style='width:117px', onclick="sortTable("+table1count+")") Power Open
                                .dropdown(onclick="sortTable("+table1count+")")
                                    i.fa.fa-caret-down
                        else if tool == 'gateddvd'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:149px',onclick="sortTable("+table1count+")") gatedDynIR>15%
                                .dropdown(onclick="sortTable("+table1count+")")
                                    i.fa.fa-caret-down
                        else if tool == 'ungateddvd'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:168px',onclick="sortTable("+table1count+")") UngatedDynIR>15%
                                .dropdown(onclick="sortTable("+table1count+")")
                                    i.fa.fa-caret-down
                        else if tool == 'idr'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:110px',onclick="sortTable("+table1count+")") I/Idr>=1.4x
                                .dropdown(onclick="sortTable("+table1count+")")
                                    i.fa.fa-caret-down
                        else if tool == 'sh'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:149px',onclick="sortTable("+table1count+")") Self-heat>=18.0C
                                .dropdown(onclick="sortTable("+table1count+")")
                                    i.fa.fa-caret-down
                        else if tool == 'fish'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:109px',onclick="sortTable("+table1count+")") FISH>=55C
                                .dropdown(onclick="sortTable("+table1count+")")
                                    i.fa.fa-caret-down
                        else if tool == 'staIR'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:149px',onclick="sortTable("+table1count+")") staIR > 4%
                                .dropdown(onclick="sortTable("+table1count+")")
                                    i.fa.fa-caret-down
                        else if tool == 'check_aon_power_connection'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:150px',onclick="sortTable("+table1count+")") check_aon_power_connection
                                .dropdown(onclick="sortTable("+table1count+")")
                                    i.fa.fa-caret-down
                        else if tool == 'check_secondary_pg_cells'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:140px',onclick="sortTable("+table1count+")") check_secondary_pg_cells
                                .dropdown(onclick="sortTable("+table1count+")")
                                    i.fa.fa-caret-down
                        else if tool == 'check_hip_pg'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:149px',onclick="sortTable("+table1count+")") check_hip_pg
                                .dropdown(onclick="sortTable("+table1count+")")
                                    i.fa.fa-caret-down
                        else if tool == 'ward'
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:505px',onclick="sortTable("+table1count+")") #{tool}
                        else
                            th.indicators(data-toogle="tooltip", title=tooltip_mapping[tool], style = 'width:135px') #{tool}

            tbody
                for key, part in testing
                    tr
                        td #{part}
    
                        for tool in Tools
                            - var val 
                            - if(key[tool] < 0){
                            -    val = 0
                            - }
                            - else{
                            -    val = key[tool]
                            - }
                            if tool.indexOf('drcdf_base1') != -1 & val > 0
                                td
                                    a(href="/rvmtlcb0violations/loadviolation/?partition="+part+"&viol_type="+"drcdf_base1", data-toogle="tooltip", title=part + " " + tool) #{val}
                            else if tool.indexOf('drcdf_base2') != -1 & val > 0
                                td
                                    a(href="/rvmtlcb0violations/loadviolation/?partition="+part+"&viol_type="+"drcdf_base2", data-toogle="tooltip", title=part + " " + tool) #{val}
                            else if tool.indexOf("complete_date") != -1
                                td #{val}
                            else if tool.indexOf("ward") != -1
                                td #{val}
                            else if tool.indexOf("nlib_source") != -1
                                td #{val}
                            else if tool.indexOf("Gated") != -1 & val > 0
                                td
                                    a(href="/rvmtlcb0violations/loadviolation/?partition="+part+"&viol_type="+"gdvd", data-toogle="tooltip", title="View violations") #{val}
                            else if tool.indexOf("Ungated") != -1 & val > 0
                                td
                                    a(href="/rvmtlcb0violations/loadviolation/?partition="+part+"&viol_type="+"udvd", data-toogle="tooltip", title="View violations") #{val}
                            else if tool == 'missing AON VL'
                                pass
                            else if tool == 'missing AON v4'
                                pass
  
                            else if tool == 'HIP No Power'
                                pass

                            else if tool == 'HIP <50% vias'
                                pass 
                            else if tool == 'fprv_date'
                                td #{val}
                            else if tool.indexOf("worstcase") != -1
                                td #{val}

                            else if tool == 'unbounded AON'
                                pass

                            else if tool == 'glbdrv v6 missing'
                                pass
                            else if tool == 'glbdrv v5 missing'
                                pass
                            else
                                td 
                                    a(href="/rvmtlcb0violations/loadviolation/?partition="+part+"&viol_type="+tool, data-toogle="tooltip", title=part + " " + tool) #{val}

    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(type="text/javascript", src="https://milankyncl.github.io/jquery-copy-to-clipboard/jquery.copy-to-clipboard.js")
    script(src="searchfilterrvmtlca0.js")
    script(src='copytext.js')
    script(src="../loadviolations.js")
    script.
        $('[data-toggle="tooltip"]').tooltip(); 


